.ideology {
    background-color: rgb(30, 30, 30);
    padding-top: 18rem;
    padding-bottom: 18rem;
}

.ideology__row {
    display: flex;

    &:not(:last-child) {
        margin-bottom: 12rem;
    }
}

.ideology__column {
    color: white;
    flex-basis: 0;
    flex-grow: 1;
    padding: 0 4rem;
}

.ideology__mainHeader {
    font-size: 7rem;
    text-align: center;
}

.ideology__header {
    font-size: 4.5rem;
    margin-bottom: 3rem;
}

.ideology__text {
    font-size: 2rem;
}